{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Calendar API",
    "description": "Google Calendar API for restaurant booking management",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/calendar/v3"
    }
  ],
  "paths": {
    "/calendars/{calendarId}/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List calendar events",
        "description": "Returns events on the specified calendar",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Calendar identifier (use 'primary' for main calendar)"
          },
          {
            "name": "timeMin",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Lower bound (inclusive) for event start time (RFC3339)"
          },
          {
            "name": "timeMax",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Upper bound (exclusive) for event start time (RFC3339)"
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of events returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create calendar event",
        "description": "Creates a new event in the calendar",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Calendar identifier (use 'primary' for main calendar)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["summary", "start", "end"],
                "properties": {
                  "summary": {
                    "type": "string",
                    "description": "Event title"
                  },
                  "description": {
                    "type": "string",
                    "description": "Event description"
                  },
                  "start": {
                    "type": "object",
                    "required": ["dateTime"],
                    "properties": {
                      "dateTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Start time (RFC3339)"
                      },
                      "timeZone": {
                        "type": "string",
                        "description": "Time zone (e.g., 'America/New_York')"
                      }
                    }
                  },
                  "end": {
                    "type": "object",
                    "required": ["dateTime"],
                    "properties": {
                      "dateTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "End time (RFC3339)"
                      },
                      "timeZone": {
                        "type": "string",
                        "description": "Time zone (e.g., 'America/New_York')"
                      }
                    }
                  },
                  "attendees": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "htmlLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events/{eventId}": {
      "delete": {
        "operationId": "deleteEvent",
        "summary": "Delete calendar event",
        "description": "Deletes an event from the calendar",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Calendar identifier"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Event identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Event deleted successfully"
          }
        }
      }
    },
    "/calendars/{calendarId}/availability": {
      "post": {
        "operationId": "checkAvailability",
        "summary": "Check time slot availability",
        "description": "Check if a time slot is available (no conflicting bookings)",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Calendar identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["start", "end"],
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start time (ISO 8601 format with timezone)"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End time (ISO 8601 format with timezone)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "conflicts": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/available-slots": {
      "post": {
        "operationId": "getAvailableSlots",
        "summary": "Get available time slots",
        "description": "Get list of available time slots for a specific date",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Calendar identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["date"],
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Date to check (YYYY-MM-DD)"
                  },
                  "duration": {
                    "type": "integer",
                    "default": 2,
                    "description": "Booking duration in hours"
                  },
                  "maxResults": {
                    "type": "integer",
                    "default": 5,
                    "description": "Maximum number of slots to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of available slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "availableSlots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "start": {
                            "type": "string"
                          },
                          "end": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "endTime": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
